body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
  padding: 16px;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 32px;
  gap: 64px;
}

.gameboard-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 50px);
}

.gameboard-grid > div {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: 1fr;
}

.gameboard-grid > div > div {
  border: 1px solid black;
}

.gameboard-grid > div > div.ship {
  background-color: rgba(0, 0, 0, 0.75);
}

.gameboard-grid > div > div.hit {
  background-color: rgba(255, 0, 0, 0.5);
}

.gameboard-grid > div > div.ship.hit {
  background-color: rgba(255, 0, 0, 1);
}

.gameboard-grid > div > div.drag-over {
  background-color: rgba(0, 0, 0, 0.25);
}

h1 {
  letter-spacing: 0.5rem;
}

.ships-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#carrier {
  width: calc(50px * 5);
  height: 50px;
  background-color: rgba(0, 0, 0, 0.75);
}

#battleship {
  width: calc(50px * 4);
  height: 50px;
  background-color: rgba(0, 0, 0, 0.75);
}
#destroyer {
  width: calc(50px * 3);
  height: 50px;
  background-color: rgba(0, 0, 0, 0.75);
}
#submarine {
  width: calc(50px * 3);
  height: 50px;
  background-color: rgba(0, 0, 0, 0.75);
}
#patrol {
  width: calc(50px * 2);
  height: 50px;
  background-color: rgba(0, 0, 0, 0.75);
}

.end-message {
  font-size: 2rem;
}