body {
  margin: 0;
  height: 100vh;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 32px;
  gap: 128px;
}

.gameboard-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 50px);
}

.gameboard-grid > div {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: 1fr;
}

.gameboard-grid > div > div {
  border: 1px solid black;
}

.gameboard-grid > div > div.ship {
  background-color: rgba(0, 0, 0, 0.75);
}

.gameboard-grid > div > div.hit {
  background-color: rgba(255, 0, 0, 0.5);
}

.gameboard-grid > div > div.ship.hit {
  background-color: rgba(255, 0, 0, 1);
}
